@import "_font.scss";

$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$Oswald: "Oswald", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$AktivGroteskCorp: "AktivGroteskCorp", -apple-system, BlinkMacSystemFont, Arial,
  sans-serif;
$Pretendard: "Pretendard", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
